.add-text-container {
    width: 100%;
    background-color: #30313C;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.add-text-container-inactive {
    display: none;
}

.add-text-form {
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    /* border: 2px red solid; */
}

.add-text-title-container {
    /* border: 2px red solid; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    border: none;
}

#add-text-title-label {
    color: white;
}

#add-text-title-input {
    margin-left: 20px;
    flex-grow: 1;
    border-radius: 5px;
    border: none;
}

.add-text-content-container {
    margin-top: 25px;
    display: flex;
    width: 100%;
}

#add-text-description-input {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.add-text-buttons-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.add-text-cancel-button-container {
    /* margin-right: 0; */
}

.add-text-submit-button-container {
    margin-left: 30px;
    /* border-radius: 3%; */
}

#add-text-cancel-button {
    color: red;
    background-color: transparent;
    border: none;
    font-family: Jura;
    font-size: large;
    padding: 7px 10px 7px 10px;
}

#add-text-submit-button {
    background-color: hsl(243, 80%, 62%);
    color: white;
    padding: 7px 10px 7px 10px;
    font-family: Jura;
    font-size: medium;
    border: none;
    border-radius: 3%;
}

#add-text-cancel-button:hover, #add-text-submit-button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.07);
}

/* Decrease padding of the form */
/* Increase font and font size of placeholder values */
/* Make title box taller */
/* Move description placeholder value to the middle */
