.add-text-container {
    width: 100%;
    background-color: #30313C;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.add-text-container-inactive {
    display: none;
}

.add-text-form {
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    /* border: 2px red solid; */
}

.add-text-title-container {
    /* border: 2px red solid; */
    margin-top: 40px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    border: none;
}

#add-text-title-label {
    color: white;
    font-size: x-large;
    text-align: center;
    line-height: 60px;
}

#add-text-title-input {
    margin-left: 20px;
    flex-grow: 1;
    padding: 20px;
    font-family: Arial;
    font-size: x-large;
    border-radius: 5px;
    border: none;
}

.add-text-content-container {
    margin-top: 25px;
    display: flex;
    width: 100%;
    text-wrap: wrap;
    word-wrap: break-word;
}

#add-text-description-input {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    font-size: x-large;
    font-family: Arial;
}

#add-text-description-input::placeholder {
    text-align: center;
    line-height: 490px;
}

.add-text-buttons-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.add-text-cancel-button-container {
    /* margin-right: 0; */
}

.add-text-submit-button-container {
    margin-left: 30px;
}

#add-text-cancel-button {
    color: red;
    background-color: transparent;
    border: none;
    font-family: Jura;
    font-size: x-large;
    padding: 7px 10px 7px 10px;
}

#add-text-submit-button {
    background-color: hsl(243, 80%, 62%);
    color: white;
    padding: 7px 10px 7px 10px;
    font-family: Jura;
    font-size: x-large;
    border: none;
    border-radius: 3%;
    margin: auto;
}

#add-text-cancel-button:hover, #add-text-submit-button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.07);
}