.top-container {
    display: flex;
    justify-content: space-between;
}

#refresh-button {
    color: white;
    font-size: 50px;
    margin-right: 25px;
    margin-top: 10px;
}

#refresh-button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.07);
}

.caption {
    color: white;
    word-break: break-all;
}

.middle-container {
    display: flex;
    justify-content: center;
}

.caption-container {

}

.popup-container {
    position: absolute;
    width: 70%;
    height: 700px;
    margin-top: 50px;
}