.top-container {
    display: flex;
    justify-content: space-between;
    min-height: 8%;
}

#refresh-button {
    color: white;
    font-size: 50px;
    margin-right: 25px;
    margin-top: 20px;
}

#refresh-button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.07);
}

.middle-container {
    min-height: 60%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cake-caption-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.audio-level-container {
    width: 100%;
}

.caption {
    color: white;
    word-break: break-all;
    text-align: center;
}

.caption-container {
    width: 80%;
}

#caption-title {
    margin-bottom: 20px;
    font-size: 70px;
    margin-top: 30px;
}

#caption-desc {
    font-size: x-large;
}

.popup-container {
    position: absolute;
    width: 70%;
    min-height: 450px;
    margin-top: 50px;
}

.bottom-container {
    width: 100%;
    display: flex;
}

@media only screen and (min-width: 0px) {
    .middle-container {
        margin-top: 50px;
        min-height: 70%;
    }

    #caption-title {
        font-size: 45px;
    }

    .popup-container {
        margin-top: 0px;
    }
  }
  
  @media only screen and (min-width: 540px) {
    .middle-container {
        margin-top: 30px;
    }

    #caption-title {
        font-size: 45px;
    }

    .popup-container {
        margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 640px) {
    .middle-container {
        margin-top: 10px;
    }

    #caption-title {
        font-size: 53px;
    }

    .popup-container {
        margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .middle-container {
        margin-top: -10px;
        min-height: 50%;
    }

    #caption-title {
        font-size: 63px;
    }

    .popup-container {
        margin-top: 50px;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .middle-container {
        margin-top: -20px;
    }

    #caption-title {
        font-size: 70px;
    }

    .popup-container {
        margin-top: 50px;
    }
  }
  
  