html {
  min-height: min-content;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Jura;
  height: 100%;
  background-color: black;
  width: 100%;
  padding: 0px;
  min-width: 350px;
}

#root {
  height: 100%;
}